<h1 align="center"><%= @kitten.name %>'s page</h1>
<p> Name: <%= @kitten.name %></p>
<p> Age: <%= @kitten.age %></p>
<p>Level of cuteness: <%= @kitten.cuteness %></p>
<p>Level of softness: <%= @kitten.softness %></p>
<%= link_to "Delete", @kitten, method: :delete %>
